html {
    --exams-cl: #B5EEB9;
    --notes-cl: #FFA3A3;
    --share-cl: #D2AFEA;
}

.exams-cl {
    color: var(--exams-cl);
}

.notes-cl {
    color: var(--notes-cl);
}

.share-cl {
    color: var(--share-cl);
}

.page {
    align-items: center;
    justify-items: center;
    display: grid;

    font-size: 2em;
    max-height: 100%;
    overflow-y: scroll;
}

p {
    margin: 0;
}


